<?xml version="1.0"?>
<launch>
    <!-- Gazebo world and robot -->
    <include file="$(find tank_snode)/launch/gazebo_simulation.launch" />
    
    <!-- Tank cleaning nodes -->
    <node name="simulation_bridge" pkg="tank_snode" type="simulation_bridge.py" output="screen" />
    <node name="decision_node" pkg="tank_snode" type="decision_node.py" output="screen" />
    <node name="comm_node" pkg="tank_snode" type="comm_node.py" output="screen" />
    
    <!-- Optional: Start master node for testing -->
    <group if="$(arg start_master)">
        <node name="master_node" pkg="master_snode" type="master_node.py" output="screen" />
    </group>
    
    <!-- Arguments -->
    <arg name="start_master" default="false" />
    <arg name="rviz" default="true" />
    
    <!-- RViz for visualization -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tank_snode)/config/tank_simulation.rviz" required="false" />
    </group>
</launch>
